.header{
    background-color: #151a1f;
    padding: 20px;
    color: #efff;
    display: flex;
    justify-content: space-between;
}
.header h1{
    margin: 0;
}
.nav-logout{
    background-color: #ff5722;
    color: #efff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}